rdflib==4.2.1
rdflib-jsonld==0.4.0
geomet>=0.2.0
ckantoolkit==0.0.3
future>=0.18.2
beautifulsoup4==4.3.2
responses==0.10.9
mock==2.0.0
pytest-ckan
pytest-cov
ckantoolkit==0.0.3
pika>=1.1.0
pyOpenSSL==18.0.0
redis
requests>=2.11.1
six>=1.12.0
